<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%=title%></title>
	<%- include('partials/head.html'); -%>
	<link rel="stylesheet" href="">
</head>
<body>
	<%- include('partials/navigation.html'); -%>


	<!-- IMAGEN -->
	<div class="container">
		<header class="row">
			<div class="col-lg-12 text-center">

				<img  src="/img/real.png"  class="animated " alt="REAL_G4_LIFE">				

			</div>
		</header>
	</div>

	<!-- SESION UNO-->
	<div class="container-fluid" id="about">
		<div class="row bg-dark text-white p-5 text-center">
			<div class="col-sm-6">
				<i class="fab fa-youtube fa-10x">
				</i>
			</div>

			<div class="col-sm-6">
				<h3>THE MOST SUSCRIBE HTML</h3>
				<p>
					Aunque ya debemos tener la costumbre de indentar nuestro código, a veces copiamos y pegamos partes de código o trabajamos con código escrito por terceros. O quizá alguien tocó nuestro código y lo dejó un poco desordenado. Para estos casos tenemos Sublime-HTMLPrettify.
				</p>

			</div>

		</div>
	</div>



	<%- include('partials/footer.html'); -%>








</body>
</html>
